<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="{{or site.url siteRootPath}}"><img src="{{{uiRootPath}}}/img/jetty-logo.svg" alt="{{site.title}}" width="120"></a>
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        <a class="navbar-item" href="{{{relativize (resolvePageURL 'ROOT::documentation.adoc')}}}">Documentation</a>
        <a class="navbar-item" href="{{{relativize (resolvePageURL 'ROOT::community.adoc')}}}">Community</a>
        <a class="navbar-item" href="{{{relativize (resolvePageURL 'ROOT::support.adoc')}}}">Support</a>
        <a class="navbar-item" href="{{{relativize (resolvePageURL 'ROOT::download.adoc')}}}">Download</a>
        <a class="navbar-item" href="{{{relativize (resolvePageURL 'ROOT::security.adoc')}}}">Security</a>
      </div>
    </div>
  </nav>
</header>
